* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  border: 1px solid black;
  width: 40rem;
  height: 25rem;
}

.forcast-sidecard {
  border: 1px solid black;
  width: 40%;
}